<form action="#" method="post">
<div class="models-form">
<h4>Model Registering Form</h4>
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="form-group">
				<input type="text" name="fname" class="form-control" placeholder="Full name..." autocomplete="off">
			</div>
			<div class="form-group">
				<select name="gender" id="gender" class="form-control">
					<option value="">-- Select gender --</option>
					<option value="f">Female</option>
					<option value="m">Male</option>
				</select>
			</div>
			<div class="form-group">
				<input type="text" name="address" class="form-control" placeholder="Address...">
			</div>
			<div class="form-group">
				<select name="city" id="city" class="form-control">
					<option value="">-- Select City --</option>
					<option value="TR">Tirana</option>
					<option value="EL">Elbasan</option>
					<option value="KO">Korca</option>
				</select>
			</div>
			<div class="form-group">
				<select name="coutry" id="coutry" class="form-control">
					<option value="">-- Select Coutry --</option>
					<option value="AL">Albania</option>
					<option value="KO">Kosovo</option>
					<option value="MA">Macedonia</option>
				</select>
			</div>
			<div class="form-group">
				<input type="text" name="phone" class="form-control" placeholder="Phone..." autocomplete="off">
			</div>
			<div class="form-group">
				<input type="text" name="email" class="form-control" placeholder="Email..." autocomplete="off">
			</div>
			<div class="form-group">
				<input type="text" name="pass" class="form-control" placeholder="Password..." autocomplete="off">
			</div>
		</div>
	<div class="col-sm-12 col-md-6 col-lg-6">
		<div class="form-group">
			<input type="text" name="age" class="form-control" placeholder="Age" autocomplete="off">
		</div>
		<div class="form-inline">
			<div class="form-group">
				<div class="input-group">
					<label for="" class="sr-only">Height & Weight</label>
					<input type="text" name="height" class="form-control" placeholder="Height..." autocomplete="off">
					<div class="input-group-addon">CM</div>
					<input type="text" name="weight" class="form-control" placeholder="Weight..." autocomplete="off">
					<div class="input-group-addon">KG</div>
				</div>
			</div>
		</div>
		<div class="form-inline">
		<br>
			<div class="form-group">
				<div class="input-group">
				<label for="" class="sr-only">Chest & Hips</label>
					<input type="text" name="chest" class="form-control" placeholder="Chest..." autocomplete="off">
					<div class="input-group-addon">CM</div>
					<input type="text" name="hips" class="form-control" placeholder="Hips..." autocomplete="off">
					<div class="input-group-addon">CM</div>
				</div>
			</div>
		</div>
		<div class="form-inline">
		<br>
			<div class="form-group">
				<div class="input-group">
				<label for="" class="sr-only">Waist & Shoe</label>
					<input type="text" name="waist" class="form-control" placeholder="Waist..." autocomplete="off">
					<div class="input-group-addon">CM</div>
					<input type="text" name="shoe" class="form-control" placeholder="Shoe..." autocomplete="off">
					<div class="input-group-addon">NR</div>
				</div>
			</div>
		</div>
		<br>
		<div class="form-group">
			<input type="text" name="eye" class="form-control" placeholder="Eye Color..." autocomplete="off">
		</div>
		<div class="form-group">
			<input type="text" name="hair" class="form-control" placeholder="Hair Color..." autocomplete="off">
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="col-sm-12">
		<div class="jumbotron" style="text-align:left;">
			<div class="form-group">
    			<label for="exampleInputFile">Please upload 4 images at least</label>
    			<input type="file" id="myimages">
    			<p class="help-block">Click here for more information.</p>
  			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="form-group">
			<label for="tellus">Tell us a little about your self:</label>
			<textarea class="form-control" rows="3" name="tellus"></textarea>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="col-sm-12">
		<div class="form-group">
		<button type="submit" class="btn btn-primary" name="signmeup">Primary</button>
	</div>
	</div>
	</div>
</div>
</form>